<phpunit bootstrap="bootstrap.php"
                colors="true"
                convertErrorsToExceptions="true"
                convertNoticesToExceptions="true"
                convertWarningsToExceptions="true"
                stopOnFailure="false">
	<testsuites>
		<testsuite name="YiiXL">
			<file>lib/core/components/CXLComponentTest.php</file>
			<file>lib/core/ui/CXLWidgetTest.php</file>
		</testsuite>
	</testsuites>

</phpunit>
