<phpunit bootstrap="bootstrap.php"
                colors="true"
                convertErrorsToExceptions="true"
                convertNoticesToExceptions="true"
                convertWarningsToExceptions="true"
                stopOnFailure="false">
	<testsuites>
		<testsuite name="YiiXL">
			<file>base/CPSComponentTest.php</file>
		</testsuite>
	</testsuites>
                
</phpunit>
