<phpunit bootstrap="bootstrap.php"
        colors="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false">

    <selenium>
        <browser name="Internet Explorer" browser="*iexplore" />
        <browser name="Firefox" browser="*firefox" />
    </selenium>

	<testsuites>
		<testsuite name="YiiXL">
			<!-- yiixl.core.behaviors -->
			<file>lib/core/components/xlActionControlBehaviorTest.php</file>
			<file>lib/core/components/xlActiveRecordBehaviorTest.php</file>
			<file>lib/core/components/xlDataTransformBehaviorTest.php</file>
			<file>lib/core/components/xlOAuthBehaviorTest.php</file>
			<file>lib/core/components/xlSoftDeleteBehaviorTest.php</file>
			<file>lib/core/components/xlTimestampBehaviorTest.php</file>
			
			<!-- yiixl.core.components -->
			<file>lib/core/components/xlComponentTest.php</file>
			
			<!-- yiixl.core.components.config -->
			<file>lib/core/components/xlConfigTest.php</file>
			
			<!-- yiixl.core.ui -->
			<file>lib/core/ui/xlWidgetTest.php</file>
		</testsuite>
	</testsuites>

</phpunit>
